.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mr-3 {
  margin-right: 0.75rem
}

.flex {
  display: flex
}

.table {
  display: table
}

.h-full {
  height: 100%
}

.h-auto {
  height: auto
}

.h-9 {
  height: 2.25rem
}

.h-12 {
  height: 3rem
}

.w-full {
  width: 100%
}

.w-9\/12 {
  width: 75%
}

.w-9 {
  width: 2.25rem
}

.w-12 {
  width: 3rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-auto {
  flex: 1 1 auto
}

.flex-initial {
  flex: 0 1 auto
}

.flex-row {
  flex-direction: row
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded {
  border-radius: 0.25rem
}

.rounded-full {
  border-radius: 9999px
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-yellow-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(253 224 71 / var(--tw-bg-opacity))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.p-3 {
  padding: 0.75rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.pt-16 {
  padding-top: 4rem
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.opacity-30 {
  opacity: 0.3
}
